* {
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: 0;
  border: 0;
  scroll-behavior: smooth;
}

:root {
  /* primary/main color */
  --body-color: #ffff;

  /* darkest grey - used for headings */
  /* --heading-color: hsl(209, 61%, 16%); */
  --heading-color: #002339;

  /* grey used for paragraphs */
  --p-color: #002339;
  --link-color: #000000;

  /* other colors */
  --add-color: #F40009;
  --add-color-2: rgba(255, 166, 0, 0.357);
}

body {
  line-height: 1.5;
  font-size: 0.875rem;
  width: 100%;
  height: 100vh;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.25;
}

h1 {
  color: var(--add-color);
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  color: var(--p-color);
}

i {
  color: var(--p-color);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--add-color);
}

main {
  width: 100%;
}

/* nav-bar */

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;
  box-shadow: 0 0 10px #0000;
  background: var(--body-color);
}

header hr {
  height: 0.15rem;
  background-color: var(--link-color);
  width: 85%;
  margin-left: 47px;
}


.logo {
  float: left;
}

header .logo h1 {
  flex: 1;
  font-size: 1rem;
  color: var(--add-color);
  margin-left: 50px;
  text-transform: uppercase;
  text-align: center;
}

header .logo h2 {
  flex: 1;
  color: var(--add-color);
  margin-left: 50px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: rgba(0, 0, 0, 0.238);
}

.menu-1 {
  float: right;
}

header ul {
  flex: 2;
  display: flex;
  justify-content: space-between 10px;
}

header ul li {
  list-style: none;
}

header ul li a i {
  color: var(--add-color);
}

header ul li a i:hover {
  color: var(--link-color);
}

header ul li a {
  text-decoration: none;
  color: var(--add-color);
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
}

header ul li a:hover {
  border-bottom: 2px solid var(--link-color);
}

header .toggle-btn {
  color: var(--link-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  padding-right: 20px;
}

.dropdown-menu {
  position: absolute;
  right: 0rem;
  display: none;
  top: 60px;
  height: 0;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  background: var(--heading-color);
  /* opacity: 0.6; */
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-menu.open {
  height: 240px;
}

.dropdown-menu li a {
  padding: 0.7rem;
  /* display: flex; */
  color: var(--body-color);
  align-items: center;
  justify-content: center;
}

.dropdown-menu li a:hover {
  color: var(--add-color);
}



@media (max-width: 769px) {
  header ul {
    position: absolute;
    width: 50%;
    height: calc(100vh -100px);
    background: var(--add-color-2);
    top: 100px;
    right: -100%;
    transition: right 0.5s linear;
    align-items: center;
    flex-direction: column;
  }

  header ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: var(--add-color);
  }

  header .toggle-btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
    width: unset;
  }
}

@media (max-width: 426px) {
  header {
    max-width: 425px;
    height: 60px;
  }

  header .logo h1 {
    margin-left: 10px;
    text-align: center;
    font-size: 0.5rem;
  }

  header hr {
    margin-left: 10px;
    width: 94%;
  }

  header .logo h2 {
    margin-left: 10px;
    font-size: 0.5rem;
    text-align: center;
  }

  header ul {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100px;
    text-align: center;
    transition: all 0.5s;
  }

  header ul li {
    display: block;
  }

  header ul li a {
    font-size: 20px;
  }

  header .menu {
    display: block;
    padding: 15px;
  }

  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
}

/* == END OF NAV BAR == */


/* == ABOUT TITLE == */
.blog-sec{
 width: 100%;
 height: auto;
 background: url(../assets/prog-intr0.JPG);
 background-size: cover;
 display: flex;
}

.bg-container{
 text-align: center;
 margin-left: 1rem;
 margin-top: 12rem;
 margin-bottom: 12rem;
 width: 60%;
}

.bg-container h2{
 text-transform: uppercase;
 font-size: 1.9rem;
 font-style: italic;
 font-weight: 600;
 color: var(--body-color);
}

@media (max-width: 769px) {
  .blog-sec{
    height: 90vh;
  }

  .bg-container{
 margin-left: 1rem;
 margin-top: 4rem;
 width: 50%;
}

.bg-container h2{
 margin-bottom: 0rem;
 text-transform: uppercase;
 font-size: 1rem;
 font-style: italic;
 font-weight: 600;
}
}

@media (max-width: 426px) {
  .blog-sec{
    height: 80vh;
  }

  .bg-container{
 margin-left: 1rem;
 margin-top: 1rem;
 width: 50%;
}

.bg-container h2{
 margin-bottom: 0rem;
 text-transform: uppercase;
 font-size: 1rem;
 font-style: italic;
 font-weight: 600;
}
}

/* == END OF ABOUT TITLE == */

/* == YOUR COACH == */
.your-coach{
 width: 100%;
 height: auto;
 display: flex;
 margin-top: 40px;
 margin-bottom: 50px;
}

.your-coach .coach-img{
 border-radius: 1rem;
 float: left;
 margin-left: 30px;
}

.your-coach .your-coach-content{
 width: 70%;
}

.your-coach-content h2{
 text-align: center;
 text-transform: uppercase;
 color: var(--add-color);
 padding-left: 50px;
}

.your-coach-content p{
 text-align: center;
 padding-left: 50px;
 padding-right: 50px;
  padding-top: 20px;
  color: var(--link-color);
}

@media (max-width: 769px) {
.your-coach{
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  align-items: center;
}

.your-coach .coach-img img{
  margin-left: 30px;
  padding: 0px;
  width: 50%;
  height: 20vh;
}

.your-coach .your-coach-content {
  width: 100%;

}

.your-coach-content h2 {
  padding-left: 0px;
  padding: 10px;
}

.your-coach-content p {
  text-align: center;
  padding: 10px;
}
}

@media (max-width: 426px) {
.your-coach{
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.your-coach .coach-img{
  margin-left: 0px;
  padding: 10px;
}

.your-coach .your-coach-content {
  width: 100%;

}

.your-coach-content h2 {
  padding-left: 0px;
  padding: 10px;
}

.your-coach-content p {
  text-align: center;
  padding-left: 0px;
  padding: 10px;
}
}

/* == END OF YOUR COACH == */

/* == HEALING == */
.healing {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.healing .healing-content {
  width: 60%;
  padding: 40px;
}

.healing-content h2{
  text-align: center;
  padding-bottom: 20px;
 font-weight: 900;
 font-size: 1rem;
 text-transform: uppercase;
 color: var(--add-color);
}

.healing .healing-img {
 padding: 20px;
 height: 80vh;
}

.healing P{
  color: var(--heading-color);
}

.healing-content ol{
 text-align: left;
 padding-top: 0px;
 line-height: 2em;
 color: var(--add-color);
}

/* == END OF HEALING == */

/* == HEALING == */
.healing-2{
 display: flex;
 width: 100%;
 height: auto;
 margin-top: 20px;
 margin-bottom: 0px;
 justify-content: space-between;
}

.healing-2 .healing-2-content {
  width: 60%;
  padding: 40px;
}

.healing-2 img{
 padding: 20px;
 height: 80vh;
}

.healing-2-content h2{
 text-align: center;
 color: var(--add-color);
 text-transform: uppercase;
} 

.healing-2-content ol{
 text-align: left;
 padding-top: 20px;
 line-height: 2em;
 list-style: numeric;
}

.work {
  height: auto;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.btn {
  text-align: center;
  text-decoration: none;
  align-content: center;
  margin-top: 1.5rem;
  padding: 15px;
  border-radius: 1rem;
  background-color: var(--add-color);
}

.btn a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.btn:hover{
  color: var(--add-color);
  background-color: var(--heading-color);
}

@media (max-width: 769px) {

.healing{
 display: flex;
 flex-direction: column;
 width: 100%;
 height: auto;
 text-align: center;
 margin-top: 20px;
 margin-bottom: 20px;
 justify-content: center;
}

.healing .healing-content{
 width: 100%;
 padding: 40px;
}

.healing-content h2{
 text-align: center;
 width: 100%;
 font-size: 1.2rem;
} 

.healing .healing-img img {
  padding: 20px;
  height: 50vh;
  width: 60%;
}


.healing-2{
 display: flex;
 flex-direction: column-reverse;
 width: 100%;
 height: auto;
 margin-top: 20px;
 margin-bottom: 20px;
 justify-content: center;
}

.healing-2 .healing-2-img img {
  padding: 20px;
  height: 50vh;
  width: 60%;
}
.healing-2 .healing-2-content{
 width: 100%;
 padding: 40px;
}

.healing-2-content h2{
 text-align: center;
} 

.healing-2-content ol{
 text-align: center;
 width: 100%;
 padding-top: 20px;
 line-height: 2em;
 list-style-type: numeric;
}

.work{
  height: 10vh;
}

}
@media (max-width: 426px) {
.healing{
 display: flex;
 flex-direction: column;
 width: 100%;
 height: auto;
 text-align: center;
 margin-top: 20px;
 margin-bottom: 20px;
 justify-content: center;
}

.healing .healing-content{
 width: 100%;
 padding: 40px;
}

.healing-content h2{
 text-align: center;
 width: 100%;
} 


.healing-2{
 display: flex;
 flex-direction: column-reverse;
 width: 100%;
 height: auto;
 margin-top: 20px;
 margin-bottom: 20px;
 justify-content: center;
}

.healing-2 .healing-2-img{
 padding: 20px;
}

.healing-2 .healing-2-content{
 width: 100%;
 padding: 40px;
}

.healing-2-content h2{
 text-align: center;
} 

.healing-2-content ol li{
 text-align: center;
 width: 100%;
 padding-top: 20px;
 line-height: 2em;
 list-style: blue circle;
}

.work{
  height: auto;
}
}
/* == END OF HEALING == */

/* == SHOP == */
/* ==+ EB-1 +== */
.EB-1{
  height: auto;
  width: 100%;
  background: url(../assets/shop.jpg);
  background-size: cover;
}

.EB-cont{
  color: var(--p-color);
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.EB-cont h1{
  font-size: 2rem;
  font-weight: 800;
  color: var(--heading-color);
  text-align: center;
}

.EB-cont p{
  padding: 10px;
  text-align: center;
  font-size: 1.8rem;
  color: var(--body-color);
  font-weight: bold;
}

@media (max-width: 769px){
  .EB-2-cont h1{
    font-size: 1rem;
  }
     .EB-cont p {
       font-size: 1rem;
     }
}
@media (max-width: 426px){
  .EB-cont h1{
    font-size: 1rem;
  }
  .EB-cont p{
    font-size: 1rem;
  }
}

/* ==+ END OF EB-1 +== */

/* ==+ EB-2 +== */
.EB-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.EB-2 h1 {
  padding-bottom: 10px;
}

.wrapper{
  margin-bottom: 50px ;
  padding: 20px;
  width: 70%;
  text-align: center;
  background-color: var(--heading-color);
}

.wrapper img{
  max-width: 320px;
  max-height: 200px;
  margin-right: 15px;
  float: left;
  border: 3px solid var(--add-color);
}

.txt h1{
  color: var(--add-color);
  font-size: 1.3rem;
  text-align: center;
}

.txt p{
  color: var(--body-color);
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
}

.wrapper button{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--body-color);
  background-color: var(--add-color);
  text-transform: uppercase;
}

.wrapper button:hover{
  background-color: var(--link-color);
}

@media (max-width: 769px) {
 .txt h1{
  color: var(--heading-color);
  font-size: 1.3rem;
  text-align: center;
}

.txt p{
  color: var(--heading-color);
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
}

.wrapper button{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--add-color);
  background-color: var(--heading-color);
  text-transform: uppercase;
}

}

@media (max-width: 426px) {
.EB-2 h1{
  font-size: 1rem;
}

.txt h1{
  font-size: 0.9rem;

}

.txt p{
  font-size: 0.9rem;
  padding-top: 10px;
}

.wrapper button{
  font-size: 0.7rem;
}

}

/* ==+ END OF EB-2 +== */

/* =====FOOTER===== */

.footer .f-container{
 background-color: var(--heading-color);
}

.f-row{
 display: flex;
 justify-content: space-between;
 padding: 40px 100px;
}

.f-column h2{
 color: var(--body-color);
 font-size: 22px;
 position: relative;
 text-transform: uppercase;
 text-decoration: underline red;
}

.f-column h3 {
  color: var(--body-color);
}

.f-column ul li{
 padding: 10px 0;
}

.f-column ul li a{
 color: var(--body-color);
 /* opacity: 0.7; */
 text-decoration: none;
 transition: 0.5s;
 font-size: 16px;
}

.f-column ul li a:hover{
 opacity: 2;
}

.f-column input{
 border: none;
 width: 250px;
 height: 45px;
 display: block;
 padding-left: 20px;
 margin: 10px 0;
}

.f-column .input-submit{
 padding: 0 20px;
 border: none;
 color: white;
 background-color: var(--add-color);
 font-size: 1.3rem;
 font-weight: 800;
 cursor: pointer;
}

.col {
  color: rgb(231, 231, 234);
}

.col a {
  color: var(--add-color);
}

.col p {
  color: var(--body-color);
}

.f-row .social-icons i{
 display: inline-block;
 color: white;
 font-size: 20px;
 margin: 0 15px;
 transition: 0.5s;
}

.f-row .social-icons i:hover{
 color: var(--add-color);
}

@media (max-width: 426px) {
  .footer{
    height: auto;
  }
 .footer .f-row{
  flex-direction: column;
  padding: 20px 30px;
  align-items: center;
 }

 .footer .f-column ul{
  margin-left: 20px;
  margin-bottom: 20px;
 }

 .f-column h2{
  text-align: center;
 }

 .f-column li a{
 align-items: left;
 }

 .f-row .social-icons{
  margin: 20px;
 }

}

@media (max-width: 767px) {
 .footer .f-row{
  flex-direction: column;
  padding: 20px 30px;
  align-items: center;
 }

 .footer .f-column ul{
  margin-left: 20px;
  margin-bottom: 20px;
 }

 .f-column h2{
  text-align: center;
 }

 .f-column li a{
 align-items: left;
 }

 .f-row .social-icons{
  margin: 20px;
 }

}
/* ===== END OF FOOTER===== */